/*style sheet*/
 
*{box-sizing: border-box;}





header {
   background-color: rgb(131, 126, 124) ;
   padding: 1rem;
   margin:0;
}

header span {
  padding: 1rem;
  font-size: xx-large;
  color: rgb(116, 82, 190);
 }

 body{
    background-color: rgb(190,128,117) ;
     margin:0;
 }

/* small navigation stuff here */

@media only screen and (max-width: 600px) {
    nav {
    background-color: rgb(124, 193, 246);
    }
    nav ul {
    margin: 0;
    padding: 0 2vw;
    list-style-type: none;
    display: flex;
    }
    nav a {
    display: block;
    padding: .95rem 1rem .83rem 1rem;
    font-size: .8rem;
    text-decoration: none;
    color:rgb(116, 82, 190);
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    }

    nav .active a {
     background-color: rgb(116, 82, 190);
    
    }
    nav a:hover {
    background-color:  rgb(131, 126, 124);
    }

    } /* end small */


    /* large navigation stuff here */
    @media only screen and (min-width: 601px) {
    nav {
    background-color: rgb(124, 193, 246);
    }
    nav ul {
    margin: 0;
    padding: 0 2vw;
    list-style-type: none;
    display: flex;
    }
    nav a {
    display: block;
    padding: .95rem 1rem .83rem 1rem;
    font-size: .8rem;
    text-decoration: none;
    color:rgb(116, 82, 190);
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    }

    nav .active a {
     background-color: rgb(116, 82, 190);
    color: #ffffff;
    }
    nav a:hover {
    background-color:  rgb(131, 126, 124);
    }

    } /*end large*/





main {
   padding:1rem 10px;

}

main h1{
   color:rgb(60, 220, 20);
   margin: 0.2rem
}

main h2 {
   color: rgb(241, 201, 22);
   margin-bottom:.2rem;
}

main p {
   margin: 0.2rem
}

.hero {
    width:100%;
    height: auto;
}



div.gallery{
   display: flex;
   flex-wrap: wrap;
   column-gap: 10px;
   row-gap: 20px;
}

div.gallery figure{
   margin: 0;
}

div.gallery img {
    border-radius: 5px;
    height:auto;
}

div.gallery figcaption{
   text-align: center;
   font-size: .8rem;
   color:rgb(60, 220, 20);
}

.gallery img:hover {
    box-shadow: 0px 0px 10px rgba(241, 201, 22, 0.6) ;
}



.myForm fieldset{
    border: 1px solid rgb(241, 201, 22);
    border-radius: 3px;
    margin-bottom: 1rem;
}

.myForm legend{
    color: rgb(241, 201, 22);
    font-size: .8rem;
}
.myForm lable {
    margin: .5rem;
}
.myForm label, .myForm select, .myForm [type=text], .myForm [type=tel], .myForm textarea {
    display: block; 
}

.myForm [type=text], .myForm [type=tell], .myForm select, .myForm textarea {
    border: solid 1px #888;
    padding: .3rem;
    width: 250px;
    border-radius: .3rem;
    font-weight: 200;
}

.myForm textarea{
    height: 6rem;
  }
.myForm :required {
    background-color: rgba(60, 220, 20, 0.1);
}

.myForm [type=submit]{
    background-color:rgb(241, 201, 22);
    border: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    color:white;
    margin: 1rem 0 0 1vw;
}

.myForm{
    color: rgb(220,230 240 250 )

}

table tr:nth-child(even){
    background-color:green ;
    color: #ffffff;
}

table tr:nth-child(odd) {
     background-color:darkgreen;
    color: #ffffff;
}

table tr:hover{
    background-color:cadetblue;
    color:#ffffff;
}

table.rocks {
    width:100%;
    border-collapse: collapse;
}

table.rocks th { 
    background-color: blue;
    color:#ffffff;
}
