/*style sheet*/
 
header {
   background-color: rgb(241, 201, 22);
   padding: 1rem;
   margin:0;
}

header span {
  padding: 1rem;
  font-size: xx-large;
  color: rgb(116, 82, 190);
 }

 body{
    background-color: rgb(178, 91, 196);
     margin:0;
 }

nav{
   background-color: rgb(124, 193, 246);
}
nav ul li{
   margin:0;
   padding: 0 10px;
  color:rgb(116, 82, 190);
  font-weight: 700;
}

nav ul{
   margin:0;
   padding: 10px;
   list-style-type: none;
   display: flex;
}

nav a {
   display: block;
   padding: .2rem;
   text-decoration: none;
   font-size: 1.1rem;
   
}

nav a:hover{
   color: white;
}

nav li.stone a {
   background-color: rgb(116, 82, 190);
}




main {
   padding:1rem 10px;
}
